body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
    margin: 0;
}

main {
    flex: 1 0 auto;
}

.btn-small {
    width: 30px!important;
    height: 30px!important;
}

.btn-small i{
    line-height: 30px!important;
    font-size: 1.5rem!important;
}

.banner-image{
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #29B6F6;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #29B6F6;
    box-shadow: none;
}

/*  Removes yellow inputfield by autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
html, body {
    height: 100%;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
}
.card-content {
    padding-bottom: 5px!important;
    padding-top: 5px!important;
}

.follow-button{
    margin:15px;
}

.card .card-image img {

    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

#profile-page-header .card-image {
    height: 150px;
}

html { overflow-y: scroll; }

img.responsive-img, video.responsive-video {
    max-width: 100%;
    height: auto;
}

#profile-page-header .card-profile-image {
    width: 110px;
    height: 110px;
    z-index: 1;
    cursor: pointer;

}

.card-profile-image img{
    border-radius: 100%!important;
}

.sm2-bar-ui {
    font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
    background-color: #2288cc;
}
.sm2-bar-ui .sm2-inline-texture {
    background: transparent;
}


/* SNACKBAR/TOAST voor Bootstrap aan adminkant */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 2.5%;
    top: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

/* FLOATING BUTTON MENU */
.fixed-action-btn{
    position:absolute;
    right: 10%;
    top:15%;
}

.fixed-action-btn.horizontal ul {
    text-align: right;
    right: 0!important;
    top: 60%!important;
    height: 100%!important;
    left: 15px!important;
    width: 0!important;
}


audio{
    width:100%;
}